.env
/node_modules
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/storage/app/public/*
!/storage/app/public/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore

/storage/framework/views/*
!/storage/framework/views/.gitignore

